name: Publish CBMC Proof Debugger documentation
on: [push, pull_request]

jobs:
  publish:
    runs-on: macos-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install mdbook
        run: brew install mdbook

      - name: Build documentation
        run: cd docs && mdbook build && touch book/.nojekyll

      - name: Publish documentation
        if: ${{ github.event_name == 'push' && startsWith('refs/heads/main', github.ref) }}
        uses: JamesIves/github-pages-deploy-action@4.1.4
        with:
          branch: gh-pages
          folder: docs/book/
